<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- İnternet bağlantısı ve Güncelleme Kurma İzinleri -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Android TV desteği -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!-- Dokunmatik ekran zorunlu değil -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Android 11+ (API 30+) Paket ve Şema Sorgulama İzinleri (Package Visibility) -->
    <queries>
        <!-- CloudStream uygulama paket adları -->
        <package android:name="com.lagradost.cloudstream3" />
        <package android:name="com.lagradost.cloudstream3.prerelease" />
        <package android:name="com.lagradost.cloudstream3.prerelease.debug" />
        <package android:name="com.lagradost.cloudstream3.debug" />

        <!-- CloudStream özel derin bağlantı (deep link) şeması -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="cloudstreamrepo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/banner"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudStreamRepoManager">

        <!-- FileProvider for APK Installation & Sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="${appName}"
            android:theme="@style/Theme.CloudStreamRepoManager"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <!-- Uygulamanın normal başlangıcı -->
                <action android:name="android.intent.action.MAIN" />

                <!-- Telefon / tablet launcher -->
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- Android TV launcher -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

            </intent-filter>

            <!-- CloudStream Deep Link ve Repo Derin Bağlantı Entegrasyonu -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="cloudstreamrepo" />
            </intent-filter>

        </activity>

    </application>

</manifest>
